@{
    ViewData["Title"] = "About Us";
}

<h1 class="display-4 mb-4">About School Management System</h1>

<div class="row">
    <div class="col-md-15">
        <p class="lead">
            The School Management System is a comprehensive software solution designed to streamline various administrative and academic processes within educational institutions.
        </p>
        <h2 class="mb-3">Objectives</h2>
        <p>
            The primary objective of the School Management System is to modernize and automate key tasks such as student enrollment, course management, etc. By centralizing these processes into a single platform, the system aims to improve efficiency, accuracy, and communication within schools.
        </p>
        <h2 class="mb-3">Features</h2>
        <ul class="list-group mb-4">
            <li class="list-group-item"><strong>Student Enrollment:</strong> Simplify the process of student registration and enrollment, including capturing essential details and managing admissions.</li>
            <li class="list-group-item"><strong>Course Management:</strong> Facilitate the creation, scheduling, and management of courses, including curriculum planning and resource allocation.</li>
            <!-- Add more features as needed -->
        </ul>
        <h2 class="mb-3">Benefits</h2>
        <ul class="list-group mb-4">
            <li class="list-group-item"><strong>Efficiency:</strong> Reduce manual effort and paperwork associated with administrative tasks, allowing staff to focus on more strategic initiatives.</li>
            <li class="list-group-item"><strong>Organization:</strong> Centralize data and information, making it easier to access, update, and analyze critical school-related data.</li>
            <li class="list-group-item"><strong>Communication:</strong> Improve communication between administrators, teachers, parents, and students through integrated messaging and notification features.</li>
            <!-- Add more benefits as needed -->
        </ul>
        <h2 class="mb-3">Technology Stack</h2>
        <p>
            The School Management System is built using a combination of modern technologies, including <b>C#, Asp.Net Core, Azure Sql Server, JavaScript, HTML, CSS</b>.
        </p>
        <h2 class="mb-3">Future Enhancements</h2>
        <p>
            In the future, we plan to enhance the School Management System by introducing features such as <b>attendance tracking, parents login, result uploading</b>, further enhancing its usability and functionality.
        </p>
    </div>
</div>

<div class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Contect" class="btn btn-primary btn-lg">Contact For More Info</a>
</div>
