@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admission Procedure";
}

<h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted"><b>Admission Procedure</b></span></h2><br /> <br>

<div class="container-fluid p-0">
  
    <img src="~/images/admission.jpg" class="d-block  w-100" alt="Fees Structure">
</div>

<div class="row featurette">
    <div class="col-md-15">
       
        <p class="lead">
            • Registration forms are available from the month of December every year. Admissions are normally made in February-March against existing vacancies on the basis of entrance tests and interviews. Registration may be closed at any time at the discretion of the school management.<br />

            • Admission will be made as a result of the interview test depending on the number of seats available in the concerned class..<br />

            • Parents/Guardians of the selected candidates for the admission are required to fill in a prescribed Admission form and submit it along with two attested Photo copies of the birth certificate on a day mentioned on the notice board and pay the prescribed fees..<br />

            • Those coming from outside Uttar Pradesh should have Transfer Certificate countersigned by the competent Educational Authority of the place..<br />

            • The new academic session begins in end-March or early April every year..<br />

            • From the month of December registration can be sought in class P.G. to XI.<br />

            • Admission is open to all irrespective of class creed and community .<br />

            • Admission through a written test in English mathematics Hindi and mental aptitude..<br />
            • Management reserve the right of admission of accepting or refusing even after having tested and declared eligible..<br />

            • For entrance examination general questions are designed to test the ability of the children....
        </p>
    </div>
   
</div>
