@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    @{
    ViewData["Title"] = "Our Journey";
}
<h1>@ViewData["Title"]</h1>


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted"><b>OUR JOURNEY</b></span></h2>
        <p class="lead">
            The journey of School Management System Started from April 2006 onwards. It is a beautiful caravan of memories. The dedication and the continuous efforts of our respected manager Sir Mayank Shukla has transformed the school as an epitome of success and glory.
            The three-storey school building is situated in shuklaganj Beside the grooming roadway from the hustle and bustle of city life. Our school has a neat tidy, properly ventilated and spacious classroom which are fully furnished.
            Our school is affiliated to the central board of secondary education (CBSE) Delhi which is one of the recognized and approved institutions with all Indian system of secondary education where English is medium of instructions.

        </p>
    </div>
    <div class="col-md-5">
        <img src="~/images/sch.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="700" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></>

    </div>
</div>
