@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rules";
}
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted"><b>School Rules</b></span></h2>
        <p class="lead">
            The school will observe the following rules. Any breach of these unless properly excused will be punishable. Frequent breaches will be dealt with more severely.<br />
            1. The School expects its students to wear their full school uniform correctly and with pride and sets high standards for students in public. It is our expectation that uniform and shoes will be clean and in good repair. Boys hair should be combed and of an acceptable length (not over the collar, ears or eyes), with no artificial colouring. Girls hair should be of a natural colour, clean, well kept and drawn away from the face.<br />
              </p>
    </div>
    <div class="col-md-5">
        <img src="~/images/rule.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></>

    </div>
    <div>
        <p class="lead">
            2. Sensible behaviour is expected within and around buildings and on the sporting field at all times.<br />

            3. Pupils are expected to attend school for the full period of the term. An Application for Exemption from Attendance MUST be completed by a parent and permission given prior to the leave being taken.<br />
            4. No student is expected to leave the class without the prior permission of the teacher concerned. He/she must have an out-pass while he/she is away from the class.<br />
            5. Student whose name is put on the notice-board for participation in a particular match or game or activity is not expected to absent himself/herself from the class unless he/she has obtained prior permission from the Activity In-charge and also has informed the class teacher.<br />
            6. Pupils owe respect to the school authorities and teaching staff. They are expected to rise and greet at each occasion.<br />
            7. For the damage to the furniture & fixtures, the student will have to pay the actual cost of the article damaged along with 50% penalty in addition to other punishment depending upon the gravity of the matter.<br />

            <b>IMPORTANT:</b>  Change of Address: Parents are requested to intimate the school office about their new address, phone no., as and when they shift, in order to facilitate the school authorities to keep in touch with them.

        </p>
    </div>
