@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission & Vision";
}
<h1>@ViewData["Title"]</h1>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted"><b>Mission</b></span></h2>
        <p class="lead"> is religiously committed to consciously create an environment of respect and to support ethnic, racial, religious and socio-economic diversity and to provide exceptional care to children while fostering each child’s intellectual social physical and moral development in academic rich environment. The mission of MDPS is to provide a safe and homelike atmosphere to teach Children to respect parents, teachers and all elders, to instill cultural values and patriotism, to dream big and strive to achieve their highest potentiall</p>
    </div>
    <div class="col-md-5">
        <img src="~/images/mv.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></>

    </div>
</div>

    <div>
    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted"><b>Vision</b></span></h2>
    <p>
        Our vision at MDPS is to empower students to acquire, demonstrate, articulate, and value knowledge and skills that will support them as lifelong learners to participate in and contribute to the global world. We practice core values of school: Respect, Tolerance, Inclusion, and Excellence.
    </p>
</div>